<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6942834770897120~2562851982</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.684734745499-j7u63h0v934ie44unvcun912phcuo8nj</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Track where you enjoy your bubble tea to see your favorite spots on a map.</string>
</dict>
</plist>
